.header {
    display: flex;
    height: 80px;
    background-color: #fff;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 35px;
    }

    &__left-side,
    &__right-side {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 86px;
    }

    &__list-links {
        display: flex;
    }

    &__link {
        margin-right: 46px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__input {
        width: 100%;
        height: 32px;
    }

    &__search {
        display: flex;
        align-items: center;
        border: 1px solid #CAE4E3;
        background-color: #fff;
        border-radius: 30px;
        padding: 0 15px;
    }

    &__lk,
    &__basket {
        margin-left: 20px;
        transition: 0.4s;

        &:hover {
            transform: scale(1.5);
            transition: 0.4s;
        }
    }

    &--color-salad {
        background-color: #EAF6ED;
    }
}