.hit {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__legend {
        transition: 0.4s;
        transform: scale(1);
    }

    &__legend:hover {
        transition: 0.4s;
        transform: scale(1.1);
    }
}