@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.product {
    display: flex;
    align-items: center;
    width: 540px;

    @media(max-width: 1200px) {
        width: 451px;
    }

    @media(max-width: 1200px) {
        width: 451px;
    }

    @media(max-width: 992px) {
        width: 329px;
        height: 203px;
    }

    @media(max-width: 776px) {
        max-width: 500px;
        width: 100%;
        height: 279px;
        margin-left: auto;
        margin-right: auto;
    }

    @media(max-width: 420px) {
        flex-direction: column;
        height: 100%;
    }

    &:hover {
        box-shadow: 0px 0px 10px;
    }

    &__img {
        width: 210px;
        height: 266px;

        @media(max-width: 992px) {
            width: 116px;
            height: 151px;
        }

        @media(max-width: 776px) {
            width: 210px;
            height: 266px;
        }
    }

    &__container {
        margin-left: 64px;

        @media(max-width: 1200px) {
            margin-left: 18px;
        }

        @media(max-width: 776px) {
            margin-left: 40px;
        }
    }

    &__discount {
        font-family: Cambria;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FF0707;
        margin-bottom: 7px;
        display: block;
    }

    &__description {
        font-family: Cambria;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: #1A2C2E;
        margin-bottom: 24px;

        @media(max-width: 992px) {
            margin-bottom: 21px;
        }
    }

    &__old-price {
        text-decoration: line-through;
	    text-decoration-color: red;
        margin-right: 10px;
    }

    &__price {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #8ECAC7;
    }

    &__button {
        width: 135px;
        height: 40px;
        background: #8ECAC7;
        box-sizing: border-box;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #FFFFFF;
        letter-spacing: 1px;
        margin-top: 14px;
    }
}