.catalog-layout {
    &__container {
        display: flex;

        @media (max-width: 539px) {
            flex-direction: column;
        }
    }

    &__navigation {
        width: 240px;
        padding: 0 35px;

        @media (max-width: 539px) {
            width: 100%;
        }

        @media (max-width: 765px) {
            padding: 0 12px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1440px;
        padding: 0 45px;

        @media (max-width: 765px) {
            padding: 0 12px;
        }
    }

    &__head {
        font-size: 15px;
        line-height: 20px;
        font-weight: normal;
        margin-bottom: 36px;
        color: #505050;

        &--gap-top {
            margin-top: 82px;

            @media (max-width: 539px) {
                margin: 0 0 36px;
            }
        }
    }

    &__children {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 765px) {
            justify-content: center;
        }
    }

    &__li {
        margin-bottom: 11px;
        border-bottom: 1px solid #E3E3E3;

        &--invisible {
            display: none;
        }
    }

    &__nav-link {
        display: block;
        width: 100%;
        height: 100%;
        padding-bottom: 22px;
        transition: 0.4s;
        transform: scale(1.0);

        &:hover {
            transition: 0.4s;
            transform: scale(1.1);
        }
    }

    &__breadcrumbs {
        margin-bottom: 36px;
    }

    &__hits {
        display: flex;
        flex-direction: column;
    }

    &__hit {
        margin-bottom: 25px;
    }
}