.button {
    padding: 0;
    background-color: #097F8A;
    color: #fff;
    border-radius: 3px;
    transition: 0.4s;

    &__container {
        display: flex;
        justify-content: center;
        padding: 10px 12px;

        &--not {
            padding: 0;
        }
    }

    &__text {
        margin-left: 6px;
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.4s;
    }

    &:disabled {
        border: 2px solid grey;
        background-color: grey;
        transform: initial;
        transition: initial;
        transform: scale(1);
        cursor: initial;
    }

    &:disabled:hover {
        transform: scale(1);
        background: grey;
    }
}