
.navigation {
    border: 1px solid #ededed;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 200px;
    position: absolute;
    list-style:none;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    top: 25px;
    left: -200px;
    transition: left .2s;
    z-index: 2;

    &--show {
        left: 34px;
    }

    &__link {
        padding: 10px 0;
        margin: 0 10px;
        margin-top: 10px;
        border-bottom: 1px solid #efefef;
        font-family: Cambria;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;

        &:last-child {
            border: none;
            padding: 5px 0 15px;
        }
    }
}

.close-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
