.main {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: calc(100vh - 440px);
    margin: 0 auto;

    &__container {
        padding: 20px 30px;

        @media (max-width: 475px) {
            padding: 12px 15px;
        }
    }
}