@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

$cambria: 'Cambria', sans-serif;

%text-data {
	font-family: $cambria;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
}

%field-data {
	max-width: 250px;
	border-radius: 30px;
	border: 1px solid #8ECAC7;
	margin-top: 5px;
	margin-bottom: 8px;
	padding-left: 7px;
}

.checkout {
	display: flex;
	background-color: #EAF6ED;
	padding: 35px 45px 35px 10px;
	flex-wrap: wrap;

	@media (max-width: 1200px) {
		padding: 35px 28px 35px 0;
	}

	@media (max-width: 768px) {
		padding: 35px 28px 35px 0;
	}
}

.checkout {
	&__customer-data {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-right: 50px;

		@media (max-width: 1200px) {
			margin-right: 30px;
		}
	}

	&__header {
		font-family: 'Merriweather', sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 40px;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__span {
		font-family: $cambria;
		font-weight: 700;
		font-style: normal;
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 35px;
	}

	&__radios {
		display: flex;
		align-items: center;
		margin-bottom: 40px;

		@media (max-width: 642px) {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	&__radio-container {
		display: flex;
		align-items: center;
	}

	&__radio {
		appearance: none;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		border: 1px solid #8ECAC7;
		background-color: white;

		&:checked {
			box-shadow: inset 0 0 0 3px white;
			background-color: #8ECAC7;
		}

		&:not(:checked):hover {
			cursor: pointer;
			box-shadow: inset 0 0 0 2px #8ECAC7;
		}
	}

	&__label {
		font-family: $cambria;
		font-weight: 400;
		font-style: normal;
		font-size: 15px;
		line-height: 20px;
		margin-right: 22px;
		margin-left: 10px;

		&:hover {
			cursor: pointer;
		}

		@media (max-width: 1200px) {
			margin-left: 8px;
			margin-right: 14px;
		}
	}

	&__user-data {
		@extend %text-data;

		&::after {
			content: '*';
			color: red;
		}
	}

	&__field {
		@extend %field-data;
		height: 24px;
	}

	&__comment {
		@extend %text-data;
	}

	&__comment-field {
		@extend %field-data;
		min-height: 66px;
		max-height: 100px;
		min-width: 250px;
		padding-top: 12px;

		&:focus {
			outline: none;
		}
	}

	&__submit {
		height: 29px;
		min-width: 171px;
		background: #28A69E;
		border-radius: 3px;
		color: #FFFFFF;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 26px;
		cursor: pointer;
		margin-right: 40px;
	}

	&__container {
		display: flex;
		align-items: center;
		margin-top: 16px;

		@media (max-width: 700px) {
			flex-wrap: wrap;
			flex-direction: column-reverse;
			align-items: flex-start;
		}
	}

	&__agreement {
		font-family: Cambria;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;

		@media (max-width: 700px) {
			margin-bottom: 10px;
		}
	}

	&__link {
		color: #4ca6a1;
		text-decoration: underline;
	}
}