.footer {
    height: 310px;
    max-width: 1920px;
    margin: 0 auto;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px 35px;

        @media (max-width: 767px) {
       
            flex-wrap: wrap;
            padding: 12px;
        }

    }

    &__content {
        height: 100%;
    }

    &__logo {

        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__catalog {
        li {
            margin-bottom: 10px;

            &:first-child {
                font-weight: bold;
                margin-bottom: 20px;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    &__about {
        li {
            margin-bottom: 10px;

            &:last-child {
                margin: 0;
            }
        }
    }

    &__social {
        display: flex;
        margin-bottom: 28px;
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: #8ECAC7;
        border-radius: 0px;
        margin-right: 10px;

        &:last-child {
            margin: 0;
        }
    }

    &__follow-legend {
        display: block;
        margin-bottom: 15px;
    }

    &__phone {
        // display: block;
        // margin-top: 64px;
    }
}