.contact {
    width: 100%;
    height: 540px;

    background: url('../../static/content/contact-cosmetic.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__form {
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: inset -14px -14px 40px rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(45px);
        min-width: 633px;

        @media (max-width: 640px) {
            min-width: 300px;
            width: 100%;
        }
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0 42px;
    }

    &__heading {
        margin-bottom: 72px;
    }

    &__description {
        margin-bottom: 80px;
    }

    &__input {
        max-width: 300px;
        width: 100%;
        height: 55px;
        padding: 6px 12px;
        background: #FFFFFF;
        opacity: 0.7;
        border-radius: 30px;
    }

    &__more-btn {
        margin-left: 38px;
        padding: 16px 48px;
        color: #FFFFFF;
        background-color: #097F8A;
        border-radius: 3px;

        @media (max-width: 600px) {
            margin-left: 0;
            margin-top: 24px;
        }
    }

    &__search {
        display: flex;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.contact-form {
    display: flex;

    &__field {
        width: 190px;
        margin-left: 38px;
        color: #FFFFFF;
        background: #097F8A;
        opacity: 0.7;
        border-radius: 3px;
        font-family: Montserrat;
        font-size: 13px;
        line-height: 26px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;

        @media (max-width: 575px) {
            width: 100%;
            margin-left: 0;
            margin-top: 24px;
        }
    }

    &__email {
        width: 312px;
        padding: 6px 12px;
        height: 55px;
        background: #FFFFFF;
        opacity: 0.7;
        border-radius: 30px;

        @media (max-width: 575px) {
            width: 100%;
        }
    }

    @media (max-width: 575px) {
        flex-direction: column;
    }
}