.blog {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 12px;
    }

    &__news-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__news {
        margin: 10px;
    }

    &__more-btn {
        width: 100%;
        max-width: 940px;
        background-color: #EAF6ED;
        color: #1A2C2E;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 6px 12px;
    }

    &__title--not {
        margin-bottom: 12px;
    }
}