.lk {
    &__legend {
        display: block;
        margin: 8px 0;
    }

    &__img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    a {
        color: #fff;
        background-color: #097F8A;
        opacity: 0.7;
        border-radius: 3px;
        padding: 6px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &--shown {
        display: flex;
    }
}