//TODO исправить по бему шрифты

.table {
    width: 100%;
    color: #1A2C2E;

    td,
    th {
        text-align: center;
        padding: 10px 0;
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }
}